.cadastro-cliente-container {
    padding: 20px;
    margin: 40px;
    border: 2px solid #898989;
    background-color: #89898928;
}

h1{
    margin-bottom: 20px;
    font-size: 24px;
}
.cliente-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cliente-options button {
    padding: 10px 15px;
    background-color: #ff7f00; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.cliente-options button:hover {
    background-color: #d76b00;
}
.cliente-filtros {
    display: flex;
    gap: 15px; 
    align-items: center;
}

.cliente-filtros select,
.cliente-filtros input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cliente-filtros select:disabled {
    background-color: #f5f5f5; /* Cor de fundo quando desabilitado */
}

.cliente-table {
    margin-top: 20px;
    overflow-x: auto; /* Permite rolagem horizontal em telas pequenas */
}

.cliente-table table {
    width: 100%;
    border-collapse: collapse; /* Remove o espaçamento entre as bordas */
}

.cliente-table th,
.cliente-table td {
    padding: 10px;
    border: 1px solid #ddd; /* Bordas da tabela */
    
}

.cliente-table th {
    background-color: #898989; /* Cor de fundo dos cabeçalhos */
}

.cliente-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Alterna a cor de fundo das linhas pares */
}

.cliente-table tr:hover {
    background-color: #f1f1f1; /* Cor de fundo ao passar o mouse */
}

.cliente-options i {
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
    font-size: 15px; /* Tamanho do ícone */
}

.coluna-edit{
    text-align: center;
}

#editar{
    padding: 2px 6px;
    border-radius: 10px;
    background-color: #000000; 
    color: white;
    border: none;
}

#editar:hover{
    background-color: #27211d;
    cursor: pointer;
}

#editar i{
    color: white;
    font-size: 15px;
}

#coluna-veiculos {
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 5px; /* Ajuste o espaço entre o número e os ícones */
    font-size: 16px; /* Define um tamanho base para o conteúdo */
}

#coluna-veiculos i {
    font-size: 14px; /* Define um tamanho menor para os ícones */
    color: #000000; /* Cor do ícone */
    margin-left: -8px; /* Ajuste fino para compactar */
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

#nome-cliente::first-letter{
   text-transform: uppercase;
}   

#add-veiculo{
    border: none;
    cursor: pointer;
}