/* Alert.css */
.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifique-se de que o alerta está acima de outros elementos */
}

.alert-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.alert-box h3 {
    margin: 0 0 10px;
}

.alert-box p {
    margin: 0 0 20px;
}

.alert-box button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.alert-box button:hover {
    background-color: #0056b3;
}
